{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="/static/main/img/favicon.ico"/>

  <!-- Load fontawesome css via javascript -->
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.15.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <!-- Bootswatch theme css -->
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">

  <!-- My stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">

  <!-- Meta tags -->
  <title>CuidadorCo{% block title %}{% endblock title %}</title>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://parktowngardener.com/" />

  <!-- Page specific description block -->
  {% block meta %}
    <meta name="description" content="The home of digital healthcare. Online mentoring and freelance digital transformation consultancy.">
  {% endblock meta %}

  <!-- Conditional background styling -->
  <style type="text/css">
    {% if info_page %}
      body {
        background: #b8b8b8;
      }
    {% else %}
      body {
        background: url("{% static 'main/img/mask@0,33x.jpg' %}") center center no-repeat fixed;
        background-size: cover;
      }
    {% endif %}

    {% block style %}{% endblock style %}
  </style>
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><span style="font-weight: 700">NHS</span> Health Check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container">
  {% if messages %}
  <div class="container mt-1" style="z-index: 0" id='alertBox'>
    <div class="row justify-content-center alert-row">
      <div class="col">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% block content %}{% endblock content %}
</main>

<!--Bootstrap compiled javascript:-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- My javascript -->
<script src="{% static 'main/main.js' %}"></script>

<!-- Extra scripts block -->
{% block scripts %}{% endblock scripts %}

</body>
</html>